---
http_interactions:
- request:
    method: get
    uri: https://api.api2cart.com/v1.0/product.count.json?api_key=43ba7043badfa2cd31cfaf5dc601a884&store_key=6f00bbf49f5ada8156506aba161408c6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"return_code" : 0, "return_message": "", "result" : {"products_count":76}}'
  recorded_at: Wed, 19 Nov 2014 10:20:29 GMT
recorded_with: VCR 2.9.3
